<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.grepp.team07.app.model.product.ProductRepository">

    <resultMap id="productMap" type="ProductDto">
        <id property="productId" column="product_id"/>
        <result property="name" column="name"/>
        <result property="image" column="image"/>
        <result property="price" column="price"/>
        <result property="info" column="info"/>
        <result property="brand" column="brand"/>
        <result property="count" column="count"/>
        <result property="sales" column="sales"/>
    </resultMap>

    <select id="selectAll" resultMap="productMap">
        select * from product
    </select>

    <select id="findByKeyword" resultMap="productMap">
        select * from product
        where name like concat('%', #{keyword}, '%')
    </select>

    <select id="bestProduct" resultMap="productMap">
        select *
        from product
        order by sales desc
        limit 3;
    </select>

    <select id="findPaged" resultMap="productMap" parameterType="map">
        select * from product
        order by product_id desc
        limit #{limit} offset #{offset}
    </select>

    <select id="countAll" resultType="int">
        select count(*) from product
    </select>

</mapper>