<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.grepp.team07.app.model.member.repository.MemberRepository">

  <resultMap id="memberMap" type="com.grepp.team07.app.model.member.dto.Member">
    <id property="userId" column="user_id"/>
    <result property="password" column="password"/>
    <result property="email" column="email"/>
    <result property="address" column="address"/>
    <result property="postCode" column="post_code"/>
  </resultMap>

  <select id="selectByUserId" resultMap="memberMap">
    SELECT * FROM customer WHERE user_id = #{userId}
  </select>

  <select id="existsMember" resultType="boolean">
    SELECT COUNT(*) > 0 FROM customer WHERE user_id = #{userId}
  </select>

  <insert id="insert">
    INSERT INTO customer (user_id, password, email, address, post_code)
    VALUES (#{userId}, #{password}, #{email}, #{address}, #{postCode})
  </insert>

  <update id="update">
    update customer
    set
      email = #{dto.email},
      password = #{dto.password},
      address = #{dto.address},
      post_code = #{dto.postCode}
    where user_id = #{userId}
  </update>
  <update id="updateDeliveredAt" parameterType="DeliveryDto">
    update delivery set delivered_at = #{deliveredAt}
    where delivery_id = #{deliveryId}
  </update>
  <select id="findEncodedPasswordByUserId" resultType="string">
    SELECT password FROM customer WHERE user_id = #{userId}
  </select>

</mapper>