<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.grepp.team07.app.model.member.CustomerRepository">

    <resultMap id="customerMap" type="CustomerDto">
        <id property="userId" column="user_id"/>
    </resultMap>

    <select id="findById" resultMap="customerMap">
        select * from customer
        where user_id = #{userId}
    </select>


</mapper>