<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <title>관리자용 주문 리스트 페이지</title>
  <link rel="stylesheet" href="style.css">
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap" rel="stylesheet">
</head>
<body>
  <div class="container">
    <div class="brand">Grids & Circle</div>

    <div class="card">
      <div class="title">관리자용 주문 리스트 페이지</div>

      <div class="order-list">
        <div class="order-header row">
          <div>주문번호</div>
          <div>배송번호</div>
          <div>주문내역</div>
          <div>배송일</div>
          <div>배송상태</div>
        </div>

        <div class="order-row row">
          <div>123456</div>
          <div>DEL123</div>
          <div>주문1<br><span class="product-info">무슨무슨 커피빈</span></div>
          <div>2024-04-01</div>
          <div>배송완료</div>
        </div>

        <div class="order-row row">
          <div>123457</div>
          <div>DEL124</div>
          <div>주문2<br><span class="product-info">무슨무슨 커피빈</span></div>
          <div>2024-04-05</div>
          <div>배송중</div>
        </div>

        <div class="order-row row">
          <div>123458</div>
          <div>DEL125</div>
          <div>주문3<br><span class="product-info">무슨무슨 커피빈</span></div>
          <div>2024-04-09</div>
          <div>준비중</div>
        </div>

        <div class="order-row row">
          <div>123459</div>
          <div>DEL126</div>
          <div>주문4<br><span class="product-info">무슨무슨 커피빈</span></div>
          <div>2024-04-11</div>
          <div>배송완료</div>
        </div>
      </div>
    </div>
  </div>
</body>
</html>